
.buttonAddTask{
    justify-self: center;
    position: relative;
    width: 50%;
    background-color: #403245;
    color: #ffffff;
    cursor: pointer;
    height: 100%;
    border-width: 3px;
    margin: auto;
    border-radius: 10px;
    font-size: clamp(5px, 2vw, 34px);
    transition: all 0.4s;
}

.buttonAddTask:hover{
    transform: scale(1.05, 1.05);
    animation-name: borderColors;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 8s;
}


@media (max-width: 600px) {
    

    .buttonAddTask{
        position: relative;
        width: 50%;
        max-height: 25px;
        height: 30%;
        background-color: #403245;
        color: #ffffff;
        cursor: pointer;
        border-width: 3px;
        margin: 0;
        border-radius: 4px;
        font-size: clamp(5px, 2vw, 34px);
        transition: all 0.4s;
        border: none;
    }
}
  