
.percentageTask{
    display: grid;
    justify-items: center;
    height: 70%;
    border-radius: 10px;
    background-color:#403245;
    max-height: 500px;
    grid-template-rows: 20% 45% 35%;
   
}

.percentage{
    color: #ffffff;
    font-size: clamp(20px, 6vw, 60px);
}

.percentageTask_h1{
    font-size: clamp(10px, 4vw, 40px);
    color: #ffffff;
}

.progreesBarContainer{
    margin: 0;
    width: 80%;
    height: 50%;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #ffffff;
}

.progress{
    border-radius: 30px;
    background-color: #725a7a;
    width: 100%;
    height: 100%;
}
   
.buttonAddTask:hover{
    transform: scale(1.05, 1.05);
    animation-name: borderColors;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 8s;
}


@media (max-width: 600px) {
   
    .percentageTask{
        display: grid;
        height: 60%;
        max-width: 100px;
        width: 100%;
        border-radius: 4px;
        background-color:#403245;
        grid-template-rows: 20% 45% 35%;
        max-height: 90px;
        padding-top: 5%;
        box-sizing: border-box;
    }
    
    .percentage{
        color: #ffffff;
        font-size: clamp(15px, 4vw, 15px);
        text-align: center;
    }
    
    .percentageTask_h1{
        text-align: center;
        font-size: clamp(9px, 2.5vw, 12px);
        color: #ffffff;
    }
    
    .progreesBarContainer{
        margin: 0;
        width: 80%;
        height: 50%;
        padding: 1%;
        box-sizing: border-box;
        border-radius: 30px;
        background-color: #ffffff;
        
    }
    
    .progress{
        border-radius: 30px;
        background-color: #725a7a;
        width: 100%;
        height: 100%;
    }
       
}